/* Education.css */
.education .section-inner {
  max-width: 800px;
  margin: 0 auto;
}

.education .heading {
  color: #333;
}

.education .content {
  display: flex;
  flex-direction: column;
}

.education .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.education .icon {
  margin-right: 10px;
  font-size: 24px;
  color: #3498db;
  align-self: flex-start;
}

.education .details {
  display: flex;
  flex-direction: column;
  margin-left: 34px;
}

.education .title {
  font-size: 18px;
  margin-bottom: 4px;
}

.education .university {
  font-weight: bold;
  margin-bottom: 8px;
  margin-left: 10px;
}

.education .year {
  color: #777;
}

/* Add more styles as needed */
